@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navber  {
    align-items: center;
    
}
.nav-link{
   text-decoration: none;
   font-weight: 500;
}
.display-flex{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.nav-item{
    list-style: none;
}
/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-03 */
.text-light-gray{
    color:#727272 ;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1) ;
}
.navber,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-taital{
    max-width: 700;
    font-size: 4rem;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.banner-image{
    width: 100%;
}
.tames-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    padding: 200px;
    margin-top: -200px;
}
.our-fichares{
    /* max-width: 530px; */
    /* margin-left: 10px; */
    margin-bottom: 10px;
}
main > section{
    margin-top: 90px;
}
@media screen and(max-width:576px) {
    .navber, .nav-link {
        flex-direction:column;
    }
    .tames-image-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-fichares{
        margin-left: 20px;
    }
    
}
main{
    max-width: 1440;
    margin: 0 auto;
}
.fichares-taital{
    font-size: 2.8rem;
    font-weight: 700;
}
#quck-list{
    font-weight: 500;
}
.text-primary{
    color: #FF900E;
}

@media screen and(min-width:576px) and (max-width:992px) {
    .tames{
        flex-direction: column;
    }
    
}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.rr{
    margin-left: 200px;
}
.fact-description{
    max-width: 540px;
}